<!-- https://icons.getbootstrap.com/
        buscar; d=""    -->

<!-- menu desktop/mobile - matheus laidler: creditos> matheuslaidler.github.io -->
<nav id="cssmenu">
  <table width="auto" border="0" align="left"> 
    <tbody>
     <tr>  
      <td>
        <a href="{{ .Site.BaseURL }}" title="matheuslaidler" target="_parent"> <!-- {{ "images/menu/matheuslaidler.gif" | absURL }} == {{ .Site.BaseURL }}/images/menu/matheuslaidler.gif -->
				  <img width="75%" top="1.225vh" left="15vh" align="left" border="0" src="{{ "images/menu/matheuslaidler.gif" | absURL }}"/></a>
      </td> 
      </tbody>
    </table> 
  <div class="menu-icon">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul>
    <li><a href="https://matheuslaidler.github.io/" target="_parent">Início</a></li>
    <li class="active"><a href="{{ .Site.BaseURL }}" target="_parent">Blog</a></li>
    <li><a href="https://matheuslaidler.github.io/Cryptool/" target="_parent">Cryptool</a> <!-- tool --></li>
    <li class="has-sub">
    <a href="#pages" data-toggle="dropdown">Páginas</a>
    <ul>
      <li><a href="https://matheuslaidler.gitbook.io/" target="_blank">Rascunhos ⿻</a></li> <!-- articles/drafts/sketches -->
      <li><a href="https://github.com/matheuslaidler" target="_blank">Github ⿻</a></li>
      <!-- <li><a href="https://road2tech.github.io/" target="_blank">Road2Tech ⿻</a></li> <-- projeto1 -->
      <!-- <li><a href="https://wayofsec.github.io/" target="_blank">WayOfSec ⿻</a></li> <-- projeto2 -->
      <li><a href="https://youtube.com/@matheuslaidler" target="_blank">Youtube ⿻</a></li> <!-- projeto3 -->
    </ul>
      </li>
      <li class="has-sub">
      <a href="#donates" data-toggle="dropdown">Doação ❤</a> <!-- donates -->
      <ul>
        <li><a href="https://github.com/sponsors/matheuslaidler" target="_blank" title="Github Sponsor">Github Sponsor ⿻</a></li>
        <li class="has-sub">
          <a href="https://www.paypal.com/donate/?hosted_button_id=SJYYS28HZPU9A" title="Paypal">PayPal</a>
            <!-- my paypal links: 
            https://www.paypal.com/donate/?hosted_button_id=SJYYS28HZPU9A
            https://www.paypal.com/donate/?hosted_button_id=55KGKSTYDTDCS
            -->
      <ul><center><!-- paypal pop-up -->
      <div id="donate-button-container">
        <div id="donate-button" ></div>
        <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
        <script>
        PayPal.Donation.Button({
        env:'production',
        hosted_button_id:'55KGKSTYDTDCS',
        image: {
        src:'https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif',
        alt:'Faça doações com o botão do PayPal',
        title:'PayPal - Doação segura !',
        }
        }).render('#donate-button');
        </script>
      </div>
      </center></ul>
      </li>
      </ul>
    </li>
      <li class="has-sub">
        <a href="#pt-br" target="_parent" data-toggle="dropdown"  target="_parent">
          <img class="idioma" src="{{ "images/btns/portuguese.png" | absURL }}" title="portuguese"/></a>
          <ul>
            <li>
              <a href="https://medium.com/@matheuslaidler" target="_blank">
                <img class="idioma" src="{{ .Site.BaseURL }}/images/btns/english.png" title="english"/></a>
            </li>
          </ul>
      </li>
          <li class="no-arrow">
            <svg width="60" height="20" fill="none" stroke-width="3" stroke-linecap="round"
              stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
            </svg>
            <span class="profile-color-modes-toggle js-promo-color-modes-toggle no-select" tabindex="0"
              onclick="switchTheme()">
              <div class="profile-color-modes-toggle-track no-select"></div>
              <div class="profile-color-modes-toggle-thumb js-promo-color-modes-thumb">
                <svg style="fill: var(--color-profile-color-modes-toggle-moon); margin: 7px 0 0 7px;" width="14"
                  height="13" viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M4.52208 7.71754C7.5782 7.71754 10.0557 5.24006 10.0557 2.18394C10.0557 1.93498 10.0392 1.68986 10.0074 1.44961C9.95801 1.07727 10.3495 0.771159 10.6474 0.99992C12.1153 2.12716 13.0615 3.89999 13.0615 5.89383C13.0615 9.29958 10.3006 12.0605 6.89485 12.0605C3.95334 12.0605 1.49286 10.001 0.876728 7.24527C0.794841 6.87902 1.23668 6.65289 1.55321 6.85451C2.41106 7.40095 3.4296 7.71754 4.52208 7.71754Z">
                  </path>
                </svg>
              </div>
            </span>
          </li>
  </nav>

<!-- fim do menu de matheus laidler -->

<div style="position: relative">
  <header class="Header js-details-container Details px-3 px-md-4 px-lg-5 flex-wrap flex-md-nowrap open Details--on">
    <div class="Header-item mobile-none" style="margin-top: -4px; margin-bottom: -4px;">
      <a class="Header-link" href="https://google.com.br/" target="_blank">
        <svg class="octicon" height="18" viewBox="0 0 16 16" version="1.1" width="32">
          <path fill-rule="evenodd"
            d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"
            >
            <!-- https://icons.getbootstrap.com/
            -->
          </path>
        </svg>
      </a>
    </div>
    <div class="Header-item d-md-none">
      <button class="Header-link btn-link js-details-target" type="button"
        onclick="document.querySelector('#header-search').style.display = document.querySelector('#header-search').style.display == 'none'? 'block': 'none'">
        <svg height="24" class="octicon octicon-three-bars" viewBox="0 0 16 16" version="1.1" width="24">
          <path fill-rule="evenodd"
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0">
          </path>
        </svg>
      </button>
    </div>
    <div style="display: none;" id="header-search"
      class="Header-item Header-item--full flex-column flex-md-row width-full flex-order-2 flex-md-order-none mr-0 mr-md-3 mt-3 mt-md-0 Details-content--hidden-not-important d-md-flex">
      <div
        class="Header-search header-search flex-auto js-site-search position-relative flex-self-stretch flex-md-self-auto mb-3 mb-md-0 mr-0 mr-md-3 scoped-search site-scoped-search js-jump-to">
        <div class="position-relative">
          <form target="_blank" action="https://www.google.com/search?q=inurl%3A{{ .Site.BaseURL }}" accept-charset="UTF-8" method="get"
            autocomplete="off">
            <label
              class="Header-search-label form-control input-sm header-search-wrapper p-0 js-chromeless-input-container header-search-wrapper-jump-to position-relative d-flex flex-justify-between flex-items-center">
              <input type="text"
                class="Header-search-input form-control input-sm header-search-input jump-to-field js-jump-to-field js-site-search-focus js-site-search-field is-clearable"
                name="q" value="" placeholder="Google Hacking Search" autocomplete="off">
              <input type="hidden" name="q" value="site:{{ .Site.BaseURL }}"> <!-- podemos por intext intitle e inurl -->
            </label>
          </form>
        </div>
      </div>
    </div>
  </header>
</div>