{{ define "posts" }}
<div>
    <div class="position-relative">
      <div>
        
                {{ if eq .Type "categories" }}
            <div class="position-relative">
              <div>
                <div class="TableObject border-bottom border-gray-light py-3">
                  <div class="user-repo-search-results-summary TableObject-item TableObject-item--primary v-align-top">
                    <center>Projeto de finalidade acadêmica, sem fins lucrativos.</center>
                    {{ if .Params.title }}
					
                  <center><em>Abaixo, <strong>{{ len .Pages }}</strong> post(s) do projeto "<strong>{{ .Params.title }}</strong>"</em></center>
                    {{ else }} <center><em> Abaixo, todos as <strong>{{ len .Pages }}</strong> categorias.</em></center>
                    
                   {{ end }}
                  </div>

                  <div class="TableObject-item text-right v-align-top">
                 <!--   <center><a class="issues-reset-query text-normal d-inline-block ml-3" >Acesso Rápido</a>
                    </center> -->

               <p>
                <center><a class="issues-reset-query text-normal d-inline-block ml-3" href="/categories/road2technology">
                        TI
                      </a>
                      <a class="issues-reset-query text-normal d-inline-block ml-3" href="/categories/development">
                        Dev
                        </a>
                        <a class="issues-reset-query text-normal d-inline-block ml-3" href="/categories/wayofsecurity/">
                        Segurança
                      </a>  <p>
                      <a class="issues-reset-query text-normal d-inline-block ml-3" href="/categories/forense/">
                        Forense
                      </a>
                      <a class="issues-reset-query text-normal d-inline-block ml-3" href="/categories/operating-system/">
                        Sistema Operacional
                      </a>
                          </center> 
                  </div>
                </div>

              {{ end }}

                <div class="position-relative">
                  <div>
                    {{ if eq .Type "tags" }}
                    <div class="TableObject border-bottom border-gray-light py-3">
                      <div class="user-repo-search-results-summary TableObject-item TableObject-item--primary v-align-top">
                        <center>Projeto de finalidade acadêmica, sem fins lucrativos.</center>
                      {{ if .Params.title }}
                      <center><em>Abaixo, <strong>{{ len .Pages }}</strong> post(s) de "<strong>{{ .Params.title }}</strong>"</em></center>

                      {{ else }} <center>Abaixo, todas os <strong>{{ len .Pages }}</strong> temas e <em>palavras chave</em>.</center>
                       {{ end }}
                      </div>
                      <div class="TableObject-item text-right v-align-top">
                       
						
                        <p>
                  <center><a class="issues-reset-query text-normal d-inline-block ml-3" href="/tags/WriteUps">
                          CTF/WriteUp
                        </a>
                          <a class="issues-reset-query text-normal d-inline-block ml-3" href="/tags/programacao/">
                          Programação
                        </a>  <p>
                        <a class="issues-reset-query text-normal d-inline-block ml-3" href="/tags/redes/">
                          Redes
                        </a>
                        <a class="issues-reset-query text-normal d-inline-block ml-3" href="/tags/linux/">
                          Linux
                        </a>
						<a class="issues-reset-query text-normal d-inline-block ml-3" href="/tags/hacking">
                          Hacking
                          </a>
                  </center>
                      </div>
                    </div>
                    {{ end }}
					
      <ul>
        {{ range .Paginator.Pages }}
        <li class="col-12 d-flex width-full py-4 border-bottom color-border-secondary public source">
          <div class="col-12 d-inline-block">
            <div class="d-inline-block mb-1">
              <h3 class="wb-break-all">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </h3>
            </div>

            <div>
              <div class="col-12 d-inline-block text-gray mb-2 pr-4">
                {{ .Summary | safeHTML }}
              </div>
            </div>

            <div class="f6 text-gray mt-2">
              {{ with .Params.tags }}
              {{ range $tag := (first 5 .) }}
              <a class="muted-link mr-3" href="{{ relURL (print "/tags/" . | urlize) }}">
                <svg class="octicon octicon-tag" viewBox="0 0 16 16" version="1.1" width="16" height="16">
                  <path fill-rule="evenodd"
                    d="M2.5 7.775V2.75a.25.25 0 01.25-.25h5.025a.25.25 0 01.177.073l6.25 6.25a.25.25 0 010 .354l-5.025 5.025a.25.25 0 01-.354 0l-6.25-6.25a.25.25 0 01-.073-.177zm-1.5 0V2.75C1 1.784 1.784 1 2.75 1h5.025c.464 0 .91.184 1.238.513l6.25 6.25a1.75 1.75 0 010 2.474l-5.026 5.026a1.75 1.75 0 01-2.474 0l-6.25-6.25A1.75 1.75 0 011 7.775zM6 5a1 1 0 100 2 1 1 0 000-2z">
                  </path>
                </svg>
                {{ $tag }}
              </a>
              {{ end }}
              {{ end }}

            
            </div>
          </div>
        </li>
        {{ end }}
      </ul>
        <div class="paginate-container">
          <div class="BtnGroup">
          {{ if .Paginator.HasPrev }}
          <a rel="nofollow" class="btn btn-outline BtnGroup-item" href="{{ .Paginator.Prev.URL }}">❰</a>
          {{ else }}
          <button class="btn btn-outline BtnGroup-item" disabled="disabled">❰</button>
          {{ end }}
          {{ if .Paginator.HasNext }}
          <a rel="nofollow" class="btn btn-outline BtnGroup-item" href="{{ .Paginator.Next.URL }}">❱</a>
          {{ else }}
          <button class="btn btn-outline BtnGroup-item" disabled="disabled">❱</button>
          {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

{{ end }}